*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
nav img{
    width: 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.call_btn{
    color: white;
    background-color: red;
    padding: 5px 5px 5px 5px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.call_btn:hover{
    background-color: green;
}
.nav-links ul li a::after{
content: '';
width: 0%;
height: 2px;
background-color: aliceblue;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:white ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.text-box button{
    color: white; 
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.text-box button:hover{
    background-color: green;
}
nav .fa{
    display: none;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.roww{
    margin-top: 5%;
    /* display: flex; */
    justify-content: space-between;

}

/* services */

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
}
.services-col img{
    width: 100%;
     border-radius: 10px;
}
.services-col p{
    padding: 0;
}
.services-col h3{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}


/* media query */
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: rgb(46, 76, 104);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding-top: 20px;
    }
    .row{
        flex-direction: column;
    }
    .action{
        display: block;
    }
    .fab{
        display: block;
    }
    #captchaTxtArea{
        width: 30%;
        text-align: center;
        border-style: none;
        border-radius: 5px;
    }
    #CaptchaEnter{
        width: 60%;
        text-align: center;
    }
}

#captchaTxtArea{
     width: 30%; 
    text-align: center;
}

/* call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(ac.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.cta button{
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.cta button:hover{
    background-color: green;
}


/* Testimonial */

.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.test-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;    
}
.test-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* about us */

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about-col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
}
@media(min-width:700px){
    .roww{
        display:flex;
    }
}


/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 1170px;
	margin:auto;
}
.rowf{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links img{
	display: inline-block;
	height: 80px;
	width: 80px;
	/* background-color: rgba(255,255,255,0.2); */
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* drop down */

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: relative;
  }
  .dropbtn:hover .dropdown-content {
      display: block;
  }
  
  
  
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 0%;
    }
    
    .dropdown-content a {
      float: none;
      color: rgb(184, 38, 38);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
#drop{
    display: block;
}

#drop{
    float: right;
    margin-left:10px;
    margin-top: 3px;
}
.dropbtn::after{
    content: '';
    width:0%;
    height: 3px;
    background: whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.dropbtn:hover::after{
    width:100%;
}

/* up icon*/

.fabs {
    position: fixed;
    left: 20px;
    bottom: 20px;
  }
  
  .action {
    background: rgb(255, 0, 128);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
  }
  
  .action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  
  .fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 30;
  }
  
  .actionn {
    background: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
    display: block;
  }
  
  .actionn i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  .actionn:hover {
    background-color: rgb(227, 26, 26);
  }
  #call_icon{
      display: block;
  }
  

  /* popup */
  
  .popup{
    width: 90%;
    height: 90%;
    background-color: #f3e9ec;
    position: fixed;
    overflow-y: scroll;
    left: 5%;
    top:5%;
    z-index: 10;
    text-align: center;
    border-radius: 10px;

}
.popup h3{
  color: rgb(232, 193, 193);
 
  border-radius: 10px 10px 0px 0px;

  
}
#cut{
    color: rgb(186, 186, 186);
    margin-top: 10px;
}

.popup form{
    width: 80%;
    height: 70%;
    position: absolute;
    left:10% ;
    padding-top: 30px;
}
.topp{
    background-color: #e91e63;
    width: 100%;
    text-align: center;
    display:grid;
    grid-template-columns: 80% 20%;
    border-radius: 10px 10px 0px 0px;
    

    
}
.mb-1{
    margin-top: 20px;
}
form textarea{
    margin-top: 20px;
}

/* captcha */
.call-btn{
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.call-btn:hover{
 background-color: green;
}


